PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_username
DB_PASS=your_password
DB_NAME=parking_db

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=1h
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=1h

#Cloduinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

#Redis
REDIS_HOST=
REDIS_PORT=

#Email
TEST_EMAIL=joniashimi1@gmail.com
TEST_EMAIL_PASSWORD=
